<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Add wish</title>
</head>
<body>
<h1>Create Wish</h1>
<form action="#" th:action="@{'/addWish/' + ${id}}" th:object="${newWish}" method="post">
    <label for="wishName">Wish Name:</label>
    <input type="text" id="wishName" name="wishName" th:field="*{wishName}" required>

    <label for="wishDescription">Wish Description:</label>
    <textarea id="wishDescription" name="wishDescription" th:field="*{wishDescription}"></textarea>

    <label for="wishPrice">Wish Price:</label>
    <input type="number" id="wishPrice" name="wishPrice" th:field="*{price}" required>

    <label for="wishLink">Wish Link:</label>
    <input type="url" id="wishLink" name="wishLink" th:field="*{wishLink}" required>

    <button type="submit">Create Wish</button>
    <a th:href="@{/showAllWishlists}"><button type="button">Back</button></a>
</form>
</body>
</html>
