<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>


<form th:action="@{/createWishlist}" th:object="${wishlist}" method="post">
    <h1>Create Wishlist</h1>
    <label for="wishlistName"></label>
    <input type="text" id="wishlistName" name="wishlistName" th:field="*{wishlistName}" required>
    <button type="submit">Create Wishlist</button>
</form>

</body>
<div class="copyright">
    &copy; 2023 Wishlist MCM. All rights reserved.
</div>
</html>
