<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" th:object="${user}" method="post">
    <h1 class="loginh1">Login</h1>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required>
    </div>
    <button type="submit" class="loginbtn">Login</button>
</form>
<div class="copyright">
    &copy; 2023 Wishlist MCM. All rights reserved.
</div>
</body>
</html>

