<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up Page</title>
    <link th:href="@{/signup.css}" rel="stylesheet">
</head>
<body>

<form th:action="@{/signup}" th:object="${user}" method="post">
    <h1>Sign up </h1>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" th:field="*{fullName}" required>
    </div>
    <div>
        <label for="password1">Password:</label>
        <input type="password" id="password1" th:field="*{password}" required>
    </div>
    <div>
        <label for="password2"> Retype Password:</label>
        <input type="password" id="password2" name="passwordConfirm" required>
    </div>
    <div>
        <input type="submit" value="Sign up">
    </div>
</form>
</body>
</html>

