<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>UserFrontend</title>
</head>
<body>
<h1>Wishlist MCM</h1>
<form action="/createWishlist" method="get">
    <input type="submit" value="Create Wishlist">
</form>

<form action="/showAllWishlists" method="get">
    <input type="submit" value="Show your wishlists">
</form>

<form action="/logout" method="get">
    <input type="submit" value="Logout">
</form>
</body>
</html>
